<h1>Patient List</h1>
<div class="container">
  <table>
    <tr>
      <th>Patient Name</th>
      <th>Age</th>
      <th>Physician</th>
      <th>SSN</th>
      <th>Days</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let patient of patientList;let i = index">
      <td>{{patient.firstname +' '+ patient.middlename +' '+ patient.lastname}}</td>
      <td>{{getAge(patient.dob).age}}</td>
      <td>{{patient.phyfirstname +' '+ patient.phylastname}}</td>
      <td>{{patient.ssn}}</td>
      <td>{{getDaysInTreatment(patient.doadmit)}}</td>
      <td class="icon-holder"><div class="icon edit-icon" (click)="edit(i)"></div></td>
      <td class="icon-holder"><div class="icon delete-icon" (click)="delete(i)"></div></td>
    </tr>
  </table>
</div>