<h1>Patient Details</h1>
<div class="container">
  <div class="profile-pic" id="profile-pic">
    <img [src]="this.imageData" alt="" [class.clear]="this.imageData!==''">
  </div>
  <form class="form-signin" id="form">
    <div *ngFor="let detail of patientDetail;let i=index">
      <label for="{{i}}" class="">{{detail.lable}}</label>
      <input type="text" id="{{i}}" class="form-control" [value]="setValue(detail.value, detail.validateType)" (keyup)="update($event, i, detail.validateType)" (blur)="update($event, i, detail.validateType)"
        (change)="onFileUpload($event, i, detail.validateType)" name="detail.key" placeholder="{{'Enter '+detail.lable}}" [required]="detail.required" data-type="{{detail.validateType}}"
        autofocus>
      <div class="error" *ngIf="detail.error">{{detail.errorMessage}}</div>
      <div class="gap"></div>
    </div>

    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submit()">Submit</button>
  </form>
  <!--<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>-->
</div>